/*Estilos cabecera*/
header{
    
    background-color: #23282B;
    margin: 0px auto;
}

/* #logotipo{
    width: 36%;
    height: 130px;
    margin: 0px auto;
    padding-top: 10px;
} */

/* #logotipo img{
    display: block;    
    width: 60px;
    float: left;
    margin-top: 20px;
} */

#logotipo{
    margin-left: 30px;
    display: block;
    float: left;
    letter-spacing: 2px;
    font-weight: lighter;
    color: #2ba977;
    font-size: 30px;
}